<nav ngbNav
     [(activeId)]="active"
     #nav="ngbNav"
     class="navbar navbar-expand-lg navbar-light main-nav">
  <div class="container-fluid"
       fxLayout="row"
       fxLayoutAlign="space-evenly">
    <a class="navbar-brand"
       href="#">Kyrolus Fahim</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"
         id="navbarNav"
         fxLayoutAlign="center">
      <ul class="navbar-nav">
        <li [ngbNavItem]="1">
          <a ngbNavLink
             aria-current="page"
             href="#">Home</a>
        </li>
        <li [ngbNavItem]="2">
          <a ngbNavLink
             href="#">Profile</a>
        </li>
        <li [ngbNavItem]="3">
          <a ngbNavLink
             href="#">My Work</a>
        </li>
      </ul>

    </div>
    <div ngbNavItem
         fxLayout="row">
      <a [href]="'https://www.facebook.com/kyrolus/'"
         style="color: black;"
         appExternalUrl
         target="_blank"
         ngbNavLink>
        <fa-icon [icon]="faFacebookSquare"></fa-icon>
      </a>
      <a ngbNavLink
         appExternalUrl
         target="_blank"
         [href]="'https://www.linkedin.com/in/kyrolus-faheem-95578657/'"
         style="color: black;">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
      <a ngbNavLink
         appExternalUrl
         target="_blank"
         [href]="'https://github.com/kyroluskamal'"
         style="color: black;">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
      <a ngbNavLink
         appExternalUrl
         target="_blank"
         [href]="'https://stackoverflow.com/users/14474303/kyrolus-kamal-fahim'"
         style="color: black;">
        <fa-icon [icon]="faStackOverflow"></fa-icon>
      </a>
    </div>
  </div>
</nav>
<div class="container"
     fxLayout="column">
  <section fxLayout="column"
           fxLayoutGap="50px"
           fxLayoutAlign="center center"
           fxLayout="row"
           fxLayout.xs="column">
    <div fxFlex="50%"
         fxLayout="column"
         fxLayoutAlign="center center">
      <div>
        <h1 class="h1">Hello, I'm Kyrolus Fahim</h1>
        <p>
          I'm a full-stack web developer.
        </p>
      </div>
      <button mat-raised-button
              color="primary">
        My work
      </button>
    </div>
    <div fxFlex="50%"
         fxLayoutAlign="center">
      <img src="../assets/kyrolus.jpg"
           width="70%"
           alt="Kyrolus Fahim image">
    </div>
  </section>
</div>